* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #021B26 !important;
  text-color: white !important;
  cursor: default;
  line-height: 1.8;
}
body > header {
  height: 100vh;
}

video {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#me {
  display: inline-block;
  position: relative;
  width: 450px;
  height: 450px;
  overflow: hidden;
  border-radius: 50%;
}

#me img {
  width: auto;
  margin-left: -50px;
}

#about {
  margin: 2rem;
  padding: 2rem;
  border: 0 solid;
  background-color: #021B26;
  color: white;
}
#about > div.container-fluid {
  text-align: center;
}

#p-contain > p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2;
  font-size: 1.1rem;
  color: white;
}

#skills {
  background-image: url("../images/beach1.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  color: white;
}
#skills > div.container-fluid {
  text-align: center;
}

#work {
  margin: 2rem;
  padding: 2rem;
  border: 0 solid;
  background-color: #021B26;
  color: white;
}
#work > div.container-fluid {
  text-align: center;
}

.cap {
  object-fit: contain;
}

.capdescription {
  text-align: center;
}

#contact {
  background-image: url("../images/beach1.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  color: white !important;
}
#contact > div.container-fluid > div.row > div.col > div.transbox {
  border: 0 solid;
  margin: 1em;
  padding: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
#contact > div.container-fluid > div.row > div.col > div.transbox > p {
  color: white;
}
#contact > div.container-fluid > div.row > div.col > div.transbox > i {
  color: #06886C;
}
#contact > div.container-fluid > div.row > div.col > div.transbox > i > span {
  color: white;
}

#btn_land {
  color: #fff;
  border-color: #04445E;
  background: #04445E;
}

.btn1 {
  color: #055575 !important;
  border-color: #055575 !important;
}

.btn2 {
  background: #04445E !important;
}

/*# sourceMappingURL=style.css.map */
